@font-face {
  font-family: "Nimbus";
  src: url("NimbusSanL-Reg.otf") format("opentype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nimbus;
  /* font-size: 12px; */
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  width: 100%;
}

#nav {
  padding: 3vw 10vw;
  display: flex;
  justify-content: space-between;
  position: relative;
}
#navleft {
  display: flex;
  gap: 20px;
}
#nav a {
  display: inline-block;
  font-weight: 800;
  text-decoration: none;
  color: #000;
}

#nav #centeratag {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 1600;
}

#hero {
  display: flex;
  margin-top: 15vw;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 0vw 10vw;
}

#sustain {
  width: 10vw;
  /* background-color: green; */
}
#sustain p {
  opacity: 0.5;
  margin: 10px 0;
  text-transform: capitalize;
}
#sustain #susimagewrapper {
  position: relative;
  width: 100%;
  height: 15vw;
  /* object-fit: cover; */
  overflow: hidden;
}
#susimagewrapper img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#ephemeral {
  width: 32vw;
  min-height: 42vw;
  position: relative;
}

#ephemeral #headings {
  position: absolute;
  top: -17.9%;
  left: -20%;
}
#imgntext {
  width: fit-content;
  height: fit-content;
}
#ephemeral img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#ephemeral p {
  margin-top: 20px;
  width: 38%;
  font-size: 1.3vw;
  letter-spacing: -0.1vw;
  font-weight: 50;
}
#ephemeral h1 {
  font-size: 6vw;
  line-height: 1;
  letter-spacing: -0.05vw;
  line-height: 1.3;
}
#circlev {
  width: 3vw;
  align-items: center;
  height: 3vw;
  border-radius: 50%;
  border: 1px solid #5e5e5e;
  justify-content: center;
  display: flex;
}
#circlev i {
  color: #5e5e5e;
}
#visit {
  display: flex;
  gap: 10px;
  align-items: center;
}

#visit h3 {
  font-weight: 400;
  color: #5e5e5e;
}

#motive {
  margin-top: 7vw;
  padding: 3vw 10vw;
  display: flex;
  justify-content: space-between;
}
#motive h3 {
  color: #5e5e5e;
  opacity: 70%;
}
#motive p {
  margin-top: 2vw;
  line-height: 1.7;
  letter-spacing: -0.12vw;
  position: relative;
  right: 0;
  width: 85%;
  text-align: right;
  font-size: 2.1vw;
}
#motive span {
  display: inline-block;
  margin: 0 10px;
  border-radius: 100px;
  /* background-color: red; */
  margin: 0 13px;
  margin-bottom: -12.5px;
}

#spanone {
  width: 80px;
  height: 50px;
  background-image: url(https://plus.unsplash.com/premium_photo-1679386300066-a38a10152a86?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTYxfHxlbnZpcm9ubWVudHxlbnwwfHwwfHx8MA%3D%3D);
  background-size: cover;
  background-position: 0% 57%;
}
#spantwo {
  width: 130px;
  height: 60px;
  background-image: url(https://plus.unsplash.com/premium_photo-1682310558560-d4219a34bb7d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTA1fHxlbnZpcm9ubWVudHxlbnwwfHwwfHx8MA%3D%3D);
  background-size: cover;
  background-position: 0% 48%;
}
#spanthree {
  width: 80px;
  height: 50px;
  background-image: url(https://images.unsplash.com/photo-1559024094-4a1e4495c3c1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDI2fHxlbnZpcm9ubWVudHxlbnwwfHwwfHx8MA%3D%3D);
  background-size: cover;
  background-position: 100% 35%;
}
#pictures {
  display: flex;
  justify-content: space-between;
  margin-top: 8vw;
  padding: 3vw;
  padding-left: 14vw;
  padding-right: 12vw;
}
#firstpic {
  width: 17vw;
}
#firstpic #picimg {
  width: 100%;
  height: 24vw;
  margin-bottom: 1vw;
  /* background-color: red; */
}
#picimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#firstpic h1,
#secpic h1 {
  font-size: 1.8vw;
  letter-spacing: -0.1vw;
  font-weight: 100;
}
#firstpic p,
#secpic p {
  width: 75%;
  opacity: 0.8;
  font-size: 1vw;
  letter-spacing: -0.05vw;
  line-height: 1;
  margin-top: 10px;
}

#secpic {
  width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: end;
}

#secpic #picimg {
  width: 100%;
  height: 37vw;
  margin-bottom: 1vw;
  /* background-color: red; */
}
#banner {
  width: 100%;
  margin-top: 8vw;
  display: flex;
  align-items: center;
}
#bimg {
  width: 65%;
  height: 60vh;
  /* background-color: red; */
}
#bimg img {
  width: 100%;
  height: 100%;
  object-position: 0% 50%;
  object-fit: cover;
}
#btext {
  width: 35%;
  padding: 0 3vw;
}
#btext h1 {
  font-size: 2.8vw;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.15vw;
}
#btext p {
  margin-top: 20px;
  width: 60%;
  font-size: 1vw;
}
#hub {
  padding-left: 5vw;
}
#future {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
}
#future video {
  opacity: 0;
  position: absolute;
  top: 50%;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#ftext {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}
#ftext h1 {
  font-size: 2vw;
}
#ftext button {
  padding: 0.8vw 1.7vw;
  font-size: 0.6vw;
  font-weight: 700;
  margin-top: 10px;
  border-radius: 100px;
  background-color: #fff;
  border: 1px solid #c6c6c6;
  color: #6f6f6f;
}
